
body {
    margin: 0px 0px 8px 0px;
}

#navbar {
    display: flex;
    position: sticky;
    top: 0px;
    background-color: #eeeeee;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 430px) {
    #navbar {
        display: block;
    }
}

#navbar > p {
    color: gray;
    margin-inline-start: 1em;
    cursor: pointer;
}

#navbar > p:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

#body {
    margin: 0px 20px;
}

/*Style of dynamically added elements:*/

#pagination > button {
    color: white;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    border-radius: 5%;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 0 10px 0;
}

#pagination > button.disabled {
    cursor: auto;
}

#pagination > button.previous:hover,
#pagination > button.next:hover {
    box-shadow: 4px 4px 8px cornflowerblue;
}

#pagination > button.previous.disabled:hover,
#pagination > button.next.disabled:hover {
    box-shadow: none;
}

#pagination > button.next {
    margin: 0 0 10px 5px;
}

button.residents,
button.vote {
    color: black;
    background-color: lightgray;
    border-color: lightgray;
    border-radius: 5%;
    padding: 5px 10px;
    cursor: pointer;
}

button.residents:hover,
button.vote:hover
{
    box-shadow: 4px 4px 8px lightgray;
}

th, td {
    padding: 5px;
    border: 1px solid lightgray;
}

th {
    text-align: left;
    border-bottom: 3px solid lightgray;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@media (max-width: 705px) {
  table {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody {
    display: block;
  }
  table tbody tr {
    display: block;
    margin-bottom: 10px;
  }
  table tbody td {
    display: block;
    text-align: right;
    padding: 10px;
    font-size: 16px;
  }
}
