
* {
  box-sizing: border-box;
}

body {
    margin: 0px 0px 8px 0px;
}

#navbar {
    display: flex;
    position: sticky;
    top: 0px;
    background-color: #eeeeee;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 430px) {
    #navbar {
        display: block;
    }
}

#navbar > a {
    text-decoration: none;
}

#navbar > a > p {
    color: gray;
    margin-inline-start: 1em;
    cursor: pointer;
}

#navbar > a > p:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

#body {
    margin: 0px 20px;
}

/*Style of dynamically added elements:*/

#pagination > button {
    color: white;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    border-radius: 5%;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 0 10px 0;
}

#pagination > button.disabled {
    cursor: auto;
}

#pagination > button.previous:hover,
#pagination > button.next:hover {
    box-shadow: 4px 4px 8px cornflowerblue;
}

#pagination > button.previous.disabled:hover,
#pagination > button.next.disabled:hover {
    box-shadow: none;
}

#pagination > button.next {
    margin: 0 0 10px 5px;
}

/*Planet table, Residents table*/

th, td {
    padding: 5px;
    border: 1px solid lightgray;
}

th {
    text-align: left;
    border-bottom: 3px solid lightgray;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button.residents,
button.vote,
#modal > div > button {
    color: black;
    background-color: lightgray;
    border-color: lightgray;
    border-radius: 5%;
    padding: 5px 10px;
    cursor: pointer;
}

button.residents:hover,
button.vote:hover,
#modal > div > button:hover {
    box-shadow: 4px 4px 8px lightgray;
}

/*End - Planet table, Residents table*/

/* Planet table */

@media (max-width: 705px) {
  table.planet {
    display: block;
  }
  table.planet thead {
    display: none;
  }
  table.planet tbody {
    display: block;
  }
  table.planet tbody tr {
    display: block;
    margin-bottom: 10px;
  }
  table.planet tbody td {
    display: block;
    text-align: right;
    padding: 10px;
    font-size: 16px;
  }
}

/* End - Planet table */

/* Residents table */

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: white;
    border-radius: 5px;
    border: solid lightgray;
}

#modal > div.modal-header {
    display: flex;
    align-items: center;
    padding: 25px 25px 10px 25px;
}

#modal > div.modal-header > button {
    margin-left: auto;
}

#modal > div.modal-body {
    padding: 25px 25px 25px 25px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}


#modal > div.modal-footer {
    padding: 10px 25px 25px 25px;
    display: flex;
    justify-content: right;
}

/* End - Residents table */
/* End - Style of dynamically added elements:*/
