<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Wars universe planets</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script type="module" src="../static/javascript/main.js" defer></script>
</head>
<body>
    <div id="navbar">
        <p>Planet list</p>
        <p>Voting statistics</p>
        <p>Registration</p>
        <p>Login</p>
        <p>Logout</p>
    </div>
    <div id="body">
        <h1>Star Wars universe planets</h1>
        <div id="pagination"></div>
        <div id="table"></div>
    </div>
</body>
</html>